.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tabs-menu {
  display: flex;
  border-radius: 12px;
  border: 1px solid #efefef;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.tab {
  padding: 20px 30px;
  font-size: 1em;
}

.tab:hover {
  cursor: pointer;
}

.tab-active {
  font-weight: bold;
  font-size: 1.2em;
}

.grid-wrapper tr:hover td {
  background: #f3ffe1;
}

.view-map-button {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
}

.view-map-button:hover {
  background-color: #84dcc6;
}
